<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.ibingo.core.dao.AdvertisersStatisticsMapper" >
  <resultMap id="BaseResultMap" type="cn.net.ibingo.core.model.AdvertisersStatistics" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="offer_id" property="offerId" jdbcType="VARCHAR" />
    <result column="offer_name" property="offerName" jdbcType="VARCHAR" />
    <result column="offer_name_alias" property="offerNameAlias" jdbcType="VARCHAR" />
    <result column="affiliate_network_id" property="affiliateNetworkId" jdbcType="VARCHAR" />
    <result column="affiliate_network_name" property="affiliateNetworkName" jdbcType="VARCHAR" />
    <result column="traffic_source_id" property="trafficSourceId" jdbcType="VARCHAR" />
    <result column="traffic_source_name" property="trafficSourceName" jdbcType="VARCHAR" />
    <result column="visits_num" property="visitsNum" jdbcType="INTEGER" />
    <result column="convers_num" property="conversNum" jdbcType="INTEGER" />
    <result column="convers_rate" property="conversRate" jdbcType="FLOAT" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, country, offer_id, offer_name, offer_name_alias, affiliate_network_id,affiliate_network_name,visits_num,convers_num,convers_rate,date,create_date
  </sql>
  <select id="selectCountByQueryBean" parameterType="cn.net.ibingo.core.query.AdvertisersStatisticsQueryBean" resultType="java.lang.Integer">
    select count(id) from t_advertiser_statistics
    where 1 = 1
    <if test="startDate != null and startDate != ''">
      and date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate != ''">
      and date &lt;= #{endDate}
    </if>
    <if test="offerId != null and offerId != ''">
      and offer_id = #{offerId}
    </if>
    <if test="offerNameAlias != null and offerNameAlias != ''">
      and offer_name_alias = #{offerNameAlias}
    </if>
    <if test="country != null and country != ''">
      and country = #{country}
    </if>
    <if test="affiliateNetworkId != null and affiliateNetworkId != ''">
      and affiliate_network_id = #{affiliateNetworkId}
    </if>
    GROUP BY offer_id,date
  </select>

  <select id="selectByQueryBean" parameterType="cn.net.ibingo.core.query.AdvertisersStatisticsQueryBean" resultMap="BaseResultMap">
    SELECT a.date,b.country AS country,a.offer_name,a.offer_name_alias,a.affiliate_network_name,sum(a.visits_num) as visits_num,sum(a.convers_num) as convers_num,a.convers_rate from t_advertiser_statistics a
    LEFT JOIN t_base_mcc b ON a.country = b.iso
    WHERE 1 = 1
    <if test="startDate != null and startDate != ''">
      and a.date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate != ''">
      and a.date &lt;= #{endDate}
    </if>
    <if test="offerId != null and offerId != ''">
      and a.offer_id = #{offerId}
    </if>
    <if test="offerNameAlias != null and offerNameAlias != ''">
      and a.offer_name_alias = #{offerNameAlias}
    </if>
    <if test="country != null and country != ''">
      and a.country = #{country}
    </if>
    <if test="affiliateNetworkId != null and affiliateNetworkId != ''">
      and a.affiliate_network_id = #{affiliateNetworkId}
    </if>
    GROUP BY a.`offer_id`,a.`date`,a.affiliate_network_id
    order by a.date desc
    limit ${startIndex}, ${pageSize}
  </select>

  <select id="selectOldAdvertisersStatistics" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM t_advertiser_statistics
    WHERE 1 = 1
    <if test="startDate != null and startDate != ''">
      and date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate != ''">
      and date &lt;= #{endDate}
    </if>
    <if test="country != null and country != ''">
      and country = #{country}
    </if>
  </select>

  <insert id="insertAdvertisersStatistics" parameterType="java.util.List">
    INSERT INTO t_advertiser_statistics (country,offer_id,offer_name,offer_name_alias,affiliate_network_id,affiliate_network_name,traffic_source_id,traffic_source_name,visits_num,convers_num,convers_rate,date,create_date)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      ( #{item.country,jdbcType=VARCHAR},
      #{item.offerId,jdbcType=VARCHAR},
      #{item.offerName,jdbcType=VARCHAR},
      #{item.offerNameAlias,jdbcType=VARCHAR},
      #{item.affiliateNetworkId,jdbcType=VARCHAR},
      #{item.affiliateNetworkName,jdbcType=VARCHAR},
      #{item.trafficSourceId,jdbcType=VARCHAR},
      #{item.trafficSourceName,jdbcType=VARCHAR},
      #{item.visitsNum,jdbcType=INTEGER},
      #{item.conversNum,jdbcType=INTEGER},
      #{item.conversRate,jdbcType=FLOAT},
      #{item.date,jdbcType=TIMESTAMP},
      #{item.createDate,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>

  <update id="updateAdvertisersStatistics" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" separator=";">
      update t_advertiser_statistics
      <set>
        convers_num=#{item.conversNum}
      </set>
      where country = #{item.country} and  offer_id = #{item.offerId} and  affiliate_network_id = #{item.affiliateNetworkId} and date = #{item.date}
    </foreach>
  </update>
</mapper>