<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.ibingo.core.dao.AdvertisersMapper" >
  <resultMap id="BaseResultMap" type="cn.net.ibingo.core.model.Advertisers" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="voluum_affiliateNetwork_id" property="voluumAffiliateNetworkId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, code, description, create_date, modify_date,voluum_affiliateNetwork_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_base_advertisers
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_base_advertisers
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.net.ibingo.core.model.Advertisers" >
    insert into t_base_advertisers (id, name, code, 
      description, create_date, modify_date
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.net.ibingo.core.model.Advertisers" >
    insert into t_base_advertisers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="voluumAffiliateNetworkId != null" >
        voluum_affiliateNetwork_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
       <if test="voluumAffiliateNetworkId != null" >
        #{voluumAffiliateNetworkId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.ibingo.core.model.Advertisers" >
    update t_base_advertisers
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
        description = #{description,jdbcType=VARCHAR},
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.ibingo.core.model.Advertisers" >
    update t_base_advertisers
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectCountByQueryBean" parameterType="cn.net.ibingo.core.query.AdvertisersQueryBean" resultType="java.lang.Integer">
	select count(id) from t_base_advertisers  
	where 1 = 1 
	<if test="keyword != null and keyword != ''">
		and ( name like '%${keyword}%' 
			or code like '%${keyword}%' )
	</if>
  </select>
	
  <select id="selectByQueryBean" parameterType="cn.net.ibingo.core.query.AdvertisersQueryBean" resultMap="BaseResultMap">
	  select <include refid="Base_Column_List" /> from t_base_advertisers 
	  where 1 = 1 
	 <if test="keyword != null and keyword != ''">
		and ( name like '%${keyword}%' 
			or code like '%${keyword}%' )
	</if>
	order by modify_date desc 
	limit ${startIndex}, ${pageSize}
  </select>
	
  <select id="selectByAdvertisers" resultMap="BaseResultMap" parameterType="cn.net.ibingo.core.model.Advertisers" >
    select 
    <include refid="Base_Column_List" />
    from t_base_advertisers
    where 1 = 1  
    <if test="name != null and name != '' " >
      and name = #{name}
    </if>
    <if test="code != null and code != '' " >
      and code = #{code}
    </if>
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_base_advertisers
  </select>
  
  <select id="selectCount" resultType="java.lang.Integer">
	select count(id) from t_base_advertisers  
  </select>
  
  <select id="selectMaxCode" resultType="java.lang.String" >
    select max(code) from t_base_advertisers
  </select>
  
  <select id="selectBean"  resultMap="BaseResultMap">
	  select <include refid="Base_Column_List" /> from t_base_advertisers 
	  where 1 = 1 
	  order by modify_date desc 
  </select>


  <select id="selectBeanByAffiliateNetworkId"  resultType="java.lang.String" parameterType="java.lang.String">
    select name from t_base_advertisers
    where voluum_affiliateNetwork_id = #{voluumAffiliateNetworkId,jdbcType=VARCHAR}
  </select>
</mapper>