<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.ibingo.core.dao.DistributionRateMapper" >
  <resultMap id="BaseResultMap" type="cn.net.ibingo.core.model.DistributionRate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="voluum_trafficsource_id" property="voluumTrafficSourceId" jdbcType="VARCHAR" />
    <result column="voluum_offer_id" property="voluumOfferId" jdbcType="VARCHAR" />
    <result column="subscription_rate" property="subscriptionRate" jdbcType="FLOAT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, voluum_trafficsource_id, voluum_offer_id, subscription_rate
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_distribution_rate
    where voluum_trafficsource_id = #{voluumTrafficSourceId,jdbcType=VARCHAR}
  </select>

  <insert id="insertSelective" parameterType="cn.net.ibingo.core.model.DistributionRate" >
    insert into t_distribution_rate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="voluumTrafficSourceId != null" >
        voluum_trafficsource_id,
      </if>
      <if test="voluumOfferId != null" >
        voluum_offer_id,
      </if>
      <if test="subscriptionRate != null" >
        subscription_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="voluumTrafficSourceId != null" >
        #{voluumTrafficSourceId,jdbcType=VARCHAR},
      </if>
      <if test="voluumOfferId != null" >
        #{voluumOfferId,jdbcType=VARCHAR},
      </if>
      <if test="subscriptionRate != null" >
        #{subscriptionRate,jdbcType=FLOAT},
      </if>

    </trim>
  </insert>

  <delete id="deleteDistributionByTrafficId" parameterType="java.lang.String">
    DELETE FROM t_distribution_rate WHERE voluum_trafficsource_id = #{voluumTrafficSourceId,jdbcType=VARCHAR}
  </delete>

  <select id="selectByTrafficIdAndOfferId" resultType="java.lang.Float" parameterType="java.lang.String" >
    select subscription_rate
    from t_distribution_rate
    where voluum_trafficsource_id = #{voluumTrafficSourceId,jdbcType=VARCHAR} and voluum_offer_id = #{voluumOfferId,jdbcType=VARCHAR}
  </select>

</mapper>