<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.ibingo.core.dao.VoluumNotifyMapper" >
  <resultMap id="BaseResultMap" type="cn.net.ibingo.core.model.VoluumNotify" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="traffic_source_id" property="trafficSourceId" jdbcType="VARCHAR" />
    <result column="traffic_source_name" property="trafficSourceName" jdbcType="VARCHAR" />
    <result column="offer_id" property="offerId" jdbcType="VARCHAR" />
    <result column="offer_name" property="offerName" jdbcType="VARCHAR" />
    <result column="affiliate_network_id" property="affiliateNetworkId" jdbcType="VARCHAR" />
    <result column="affiliate_network_name" property="affiliateNetworkName" jdbcType="VARCHAR" />
    <result column="campaign_id" property="campaignId" jdbcType="VARCHAR" />
    <result column="click_id" property="clickId" jdbcType="VARCHAR" />
    <result column="payout" property="payout" jdbcType="FLOAT" />
    <result column="country" property="country" jdbcType="INTEGER" />
    <result column="p1" property="p1" jdbcType="INTEGER" />
    <result column="p2" property="p2" jdbcType="VARCHAR" />
    <result column="p3" property="p3" jdbcType="VARCHAR" />
    <result column="p4" property="p4" jdbcType="INTEGER" />
    <result column="p5" property="p5" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="data_type" property="dataType" jdbcType="INTEGER" />
    <result column="convers_num" property="conversNum" jdbcType="INTEGER" />
    <result column="offer_name_alias" property="offerNameAlias" jdbcType="VARCHAR" />
    <result column="subscription_rate" property="subscriptionRate" jdbcType="FLOAT" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, traffic_source_id, traffic_source_name, offer_id, offer_name, affiliate_network_id, affiliate_network_name, campaign_id, click_id, payout,country,
    p1, p2,p3,p4,p5,create_date,data_type
  </sql>


  <insert id="insertSelective" parameterType="cn.net.ibingo.core.model.VoluumNotify">
    INSERT INTO t_voluum_notify
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="trafficSourceId != null" >
        traffic_source_id,
      </if>
      <if test="trafficSourceName != null" >
        traffic_source_name,
      </if>
      <if test="offerId != null" >
        offer_id,
      </if>
      <if test="offerName != null" >
        offer_name,
      </if>
      <if test="affiliateNetworkId != null" >
        affiliate_network_id,
      </if>
      <if test="affiliateNetworkName != null" >
        affiliate_network_name,
      </if>
      <if test="campaignId != null" >
        campaign_id,
      </if>
      <if test="clickId != null" >
        click_id,
      </if>
      <if test="payout != null" >
        payout,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="p1 != null" >
        p1,
      </if>
      <if test="p2 != null" >
        p2,
      </if>
      <if test="p3 != null" >
        p3,
      </if>
      <if test="p4 != null" >
        p4,
      </if>
      <if test="p5 != null" >
        p5,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="trafficSourceId != null" >
        #{trafficSourceId,jdbcType=VARCHAR},
      </if>
      <if test="trafficSourceName != null" >
        #{trafficSourceName,jdbcType=VARCHAR},
      </if>
      <if test="offerId != null" >
        #{offerId,jdbcType=VARCHAR},
      </if>
      <if test="offerName != null" >
        #{offerName,jdbcType=VARCHAR},
      </if>
      <if test="affiliateNetworkId != null" >
        #{affiliateNetworkId,jdbcType=VARCHAR},
      </if>
      <if test="affiliateNetworkName != null" >
        #{affiliateNetworkName,jdbcType=VARCHAR},
      </if>
      <if test="campaignId != null" >
        #{campaignId,jdbcType=VARCHAR},
      </if>
      <if test="clickId != null" >
        #{clickId,jdbcType=VARCHAR},
      </if>
      <if test="payout != null" >
        #{payout,jdbcType=FLOAT},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="p1 != null" >
        #{p1,jdbcType=VARCHAR},
      </if>
      <if test="p2 != null" >
        #{p2,jdbcType=VARCHAR},
      </if>
      <if test="p3 != null" >
        #{p3,jdbcType=VARCHAR},
      </if>
      <if test="p4 != null" >
        #{p4,jdbcType=VARCHAR},
      </if>
      <if test="p5 != null" >
        #{p5,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


	<select id="selectCountByQueryBean" parameterType="cn.net.ibingo.core.query.VoluumNotifyQueryBean" resultType="java.lang.Integer">
		select count(id) from t_voluum_notify
		where 1=1
            <if test="keyword != null and keyword != ''">
                and offer_name like '%${keyword}%'
            </if>
            <if test="affilicateId != null and affilicateId != ''">
                and affiliate_network_id = '${affilicateId}'
            </if>
            <if test="trafficId != null and trafficId != ''">
                and traffic_source_id = '${trafficId}'
            </if>
            <if test="dataType != null and dataType != ''">
                and data_type = '${dataType}'
            </if>
	</select>
	<select id="selectByQueryBean" parameterType="cn.net.ibingo.core.query.VoluumNotifyQueryBean" resultMap="BaseResultMap">
      SELECT
          v.id, v.traffic_source_id, v.traffic_source_name, v.offer_id, v.offer_name, v.affiliate_network_id, v.affiliate_network_name, v.campaign_id, v.click_id, v.payout,b.country AS country,
          v.p1, v.p2,v.p3,v.p4,v.p5,v.create_date,v.data_type
      FROM t_voluum_notify v
      LEFT JOIN t_base_mcc b ON v.country = b.iso
		where 1=1
			<if test="keyword != null and keyword != ''">
				and offer_name like '%${keyword}%'
			</if>
            <if test="affilicateId != null and affilicateId != ''">
                and affiliate_network_id = '${affilicateId}'
            </if>
            <if test="trafficId != null and trafficId != ''">
                and traffic_source_id = '${trafficId}'
            </if>
            <if test="dataType != null and dataType != ''">
                and data_type = '${dataType}'
            </if>
		order by
			create_date desc 
		limit ${startIndex}, ${pageSize}
	</select>

     <update id="updateDateType" parameterType="java.lang.String">
        update t_voluum_notify SET  data_type = 1 where click_id = #{clickId,jdbcType=VARCHAR}
     </update>

  <delete id="delete" parameterType="java.lang.Integer">
    delete FROM t_voluum_notify where id = #{id,jdbcType=INTEGER}
  </delete>


  <select id="selectOfferStatistics" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT v.country,v.offer_id,v.offer_name,r.name_alias as offer_name_alias,v.`traffic_source_id`,v.`traffic_source_name`,COUNT(v.id) as convers_num FROM t_voluum_notify v
    LEFT JOIN t_config_resources r ON v.offer_id = r.voluum_offer_id
    WHERE v.create_date BETWEEN #{startDate,jdbcType=VARCHAR} AND #{endDate,jdbcType=VARCHAR}
    GROUP BY v.offer_id,v.country
  </select>

  <select id="selectTrafficSourceStatistics" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT v.country,v.offer_id,v.offer_name,r.name_alias AS offer_name_alias,v.traffic_source_id,v.traffic_source_name,/*d.subscription_rate as subscription_rate, */COUNT(v.id) AS convers_num FROM t_voluum_notify v
    LEFT JOIN t_config_resources r ON v.offer_id = r.voluum_offer_id
    /*LEFT JOIN t_distribution_rate d ON v.`offer_id` = d.voluum_offer_id AND v.traffic_source_id = d.voluum_trafficsource_id*/
    WHERE v.create_date BETWEEN #{startDate,jdbcType=VARCHAR} AND #{endDate,jdbcType=VARCHAR}
    GROUP BY v.`offer_id`,v.`traffic_source_id`,v.country
  </select>

  <select id="selectAdvertisersStatistics" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT v.country,v.offer_id,v.offer_name,r.name_alias AS offer_name_alias,v.`affiliate_network_id`,v.`affiliate_network_name`,v.`traffic_source_id`,v.`traffic_source_name`, COUNT(v.id) AS convers_num FROM t_voluum_notify v
    LEFT JOIN t_config_resources r ON v.offer_id = r.voluum_offer_id
    WHERE v.create_date BETWEEN #{startDate,jdbcType=VARCHAR} AND #{endDate,jdbcType=VARCHAR}
    GROUP BY v.`offer_id`,v.affiliate_network_id,v.country
  </select>


</mapper>